*{   margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Gilroy';

}
html, body{
    height: 100%;
    width: 100%;
  background-color: aquamarine;
 
}
 body{
        display: flex;
    align-items: center;
    justify-content: center;
    
 }

#card{

    height: 370px;
    width:280px;
   background-color: white;
   border-radius: 7px;
 
   padding:15px;




}
#card img{
    height: 60%;
    width: 100%;
    border-radius: 8px;
 
  object-fit:cover;
  object-position: center;


}
#card h1{

    font-size: 30px;
    margin-left: 80px;
    font-weight: 700;
    color: black;

}
#card h5{
    font-size: 15px;
    margin: 10px 10px;
    margin-left:80px;
    color: palevioletred;
    padding: 10px;
    font-weight: 1000;
    cursor: pointer;
    display: inline-block;


}
#btn-container{

    display: flex;
    align-items: center;
    align-items: center;
    
}


#card button{
    background-color:#1589FF;
    color: white;
    padding: 0%;
    font-weight: 700;
    padding: 6px 8px;
   justify-content: center;
   cursor: pointer;
    border-radius: 5px;
    display: block;
   
    margin-right: 40px;
  


}

#card #Friend{
   
    margin-left: 90px;

    
}